@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
.bgColor {
  background-color: #E7E7E2; }

header {
  width: 100%;
  z-index: 1;
  display: flex;
  border-bottom: 3px solid black;
  background-color: #E7E7E2; }
  header #portalInmobiliario {
    display: flex;
    padding-left: 1%;
    width: 60%; }
    header #portalInmobiliario .navbar-brand {
      font-size: 30px;
      color: #4F4F4F;
      font-family: "Raleway", sans-serif; }
      @media all and (max-width: 576px) {
        header #portalInmobiliario .navbar-brand {
          font-size: 20px; } }
    header #portalInmobiliario .logo {
      width: 65px;
      height: 60px; }
  header a {
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 500; }
  header .active {
    border-bottom: 1px solid #010101;
    border-radius: 0px 0px 5px 5px; }
  header .nosotrosGeneral {
    display: flex;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 40%; }
    @media all and (max-width: 992px) {
      header .nosotrosGeneral .navbar {
        display: flex;
        justify-content: flex-end; } }
    header .nosotrosGeneral .navbar-nav .nav-link {
      margin-right: 10%;
      color: #4F4F4F;
      transition: all 300ms ease-in-out; }
      header .nosotrosGeneral .navbar-nav .nav-link:hover {
        transform: scale(1.3);
        color: #010101; }
    header .nosotrosGeneral #dropdownMenuLink {
      font-weight: 500;
      padding-right: 2.5rem;
      display: flex;
      justify-content: flex-start;
      width: 70%; }
    header .nosotrosGeneral .dropdown-item:focus {
      background-color: transparent;
      color: #010101; }
    header .nosotrosGeneral .btn:focus {
      box-shadow: none !important; }

.fondo-portada {
  background-image: url("../media/imagenFondo.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat; }

.frase-portada {
  font-size: 30px;
  font-family: "Caveat", cursive;
  display: flex;
  justify-content: center;
  padding-top: 25%;
  background-color: rgba(255, 255, 255, 0.3);
  height: 100vh; }

.destacados .destacados__titulos {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  color: #4F4F4F;
  font-family: "Raleway", sans-serif;
  border-top: 1px solid black;
  width: 40%;
  margin: auto;
  text-align: center;
  padding-bottom: 1%; }
  @media all and (max-width: 992px) {
    .destacados .destacados__titulos {
      border-top: 1px solid black;
      width: 80%;
      margin: auto;
      padding-top: 2%;
      text-align: center;
      padding-bottom: 1%; } }
  @media all and (max-width: 576px) {
    .destacados .destacados__titulos {
      border-top: 1px solid black;
      width: 80%;
      margin: auto;
      padding-top: 2%;
      text-align: center;
      padding-bottom: 1%; } }

.destacados #primerDestacado {
  margin-top: 4%; }

.destacados .destacados__img {
  margin: auto;
  display: block;
  width: 25%;
  padding: 0.5%;
  border: 1px solid black;
  transition: all 500ms ease-in-out;
  margin-bottom: 1.5%; }
  .destacados .destacados__img:hover {
    transform: scale(1.1); }
  @media all and (max-width: 992px) {
    .destacados .destacados__img {
      width: 70%;
      padding-top: 0.5%;
      margin-top: 1%;
      margin-bottom: 5%; } }
  @media all and (max-width: 576px) {
    .destacados .destacados__img {
      width: 70%;
      padding-top: 0.5%;
      margin-bottom: 5%; } }

.destacados .destacados__texto {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 18px;
  text-align: center;
  width: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: auto; }
  @media all and (max-width: 992px) {
    .destacados .destacados__texto {
      width: 80%;
      padding: 2% 0%; } }
  @media all and (max-width: 576px) {
    .destacados .destacados__texto {
      width: 80%; } }

.destacados #imagen2 {
  margin-top: 1%; }

.contactForm {
  width: 60%;
  margin: auto;
  padding: 1%;
  border: 1px solid black;
  box-shadow: -4px 4px 6px 0px rgba(0, 0, 0, 0.75);
  background-image: url(../media/fondo.JPEG); }
  @media all and (max-width: 992px) {
    .contactForm {
      width: 80%; } }
  @media all and (max-width: 576px) {
    .contactForm {
      width: 100%;
      margin-bottom: 4%; } }
  .contactForm .contactForm__datos {
    font-family: "Raleway", sans-serif;
    font-size: 18px; }
  .contactForm textarea {
    width: 100%;
    resize: none;
    outline: none; }
    .contactForm textarea:focus {
      box-shadow: none;
      border: 1px solid #4F4F4F; }
  .contactForm .form-control:focus {
    box-shadow: none;
    border: 1px solid #4F4F4F; }
  .contactForm .buttons {
    display: flex;
    justify-content: center; }
    .contactForm .buttons .form__button {
      width: 12%;
      font-weight: 400;
      text-align: center;
      background-color: #4F4F4F;
      padding: .375rem .75rem;
      margin-left: 2%;
      color: #E7E7E2;
      border: none;
      font-family: "Raleway", sans-serif;
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      transition: all 300ms ease-out; }
      @media all and (max-width: 768px) {
        .contactForm .buttons .form__button {
          width: 15%; } }
    .contactForm .buttons #Enviar:hover {
      transform: scale(1.1); }
    .contactForm .buttons #Borrar:hover {
      transform: scale(1.1); }

.logoWhatsApp {
  position: fixed;
  right: 5%;
  bottom: 7%; }
  @media all and (max-width: 992px) {
    .logoWhatsApp {
      position: fixed;
      right: 3%; } }
  @media all and (max-width: 576px) {
    .logoWhatsApp {
      position: fixed;
      right: 1.5%; } }
  .logoWhatsApp img {
    width: 50px;
    height: 50px;
    transition: 500ms ease-in-out; }
  .logoWhatsApp img:hover {
    transform: scale(1.1); }

.footer {
  border-top: 1px solid black;
  text-align: center;
  width: 100%;
  height: 1%;
  margin-top: 1%;
  margin-bottom: 0;
  padding-top: 0.5%;
  overflow: hidden; }
  .footer .container-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 1%;
    border-bottom: 1px solid #010101; }
  .footer .mapaUbicacion {
    width: 50%;
    justify-content: flex-start;
    margin-top: 2%; }
    @media all and (max-width: 576px) {
      .footer .mapaUbicacion {
        width: 100%; } }
  .footer .datosEmpresa {
    width: 50%;
    border-left: 1px solid #010101; }
    @media all and (max-width: 992px) {
      .footer .datosEmpresa {
        width: 100%;
        padding-top: 1%;
        border-left: none; } }
    .footer .datosEmpresa .datosFooter {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-top: 4%;
      padding-left: 5%; }
      @media all and (max-width: 576px) {
        .footer .datosEmpresa .datosFooter {
          width: 80%;
          text-align: left; } }
      .footer .datosEmpresa .datosFooter .datosFooter_contenidos {
        padding-left: 2%;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 18px; }
      .footer .datosEmpresa .datosFooter .img_footer {
        width: 30px;
        height: 30px; }
  .footer p {
    color: #E7E7E2;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    background-color: #4F4F4F;
    margin-bottom: 0px !important; }

/* HASTA ACA EN INDEX.HTML*/
.slide {
  padding-top: 10%;
  margin-bottom: 5%; }
  @media all and (max-width: 992px) {
    .slide {
      padding-top: 15%; } }
  .slide .slideContent {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 40%;
    margin: auto;
    padding-bottom: .5%;
    font-family: "Raleway", sans-serif; }
  .slide #carousel-control-prev {
    left: 0;
    height: 250px;
    margin-top: 350px; }
    @media all and (max-width: 992px) {
      .slide #carousel-control-prev {
        margin-top: 150px; } }
  .slide #carousel-control-next {
    right: 0;
    height: 250px;
    margin-top: 350px; }
    @media all and (max-width: 992px) {
      .slide #carousel-control-next {
        margin-top: 150px; } }

.cuerpoNosotros {
  display: grid;
  grid-template-areas: "quienesSomos quienesSomos quienesSomos" "elegirnos elegirnos elegirnos" "motivacion motivacion motivacion";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 2%; }
  @media all and (max-width: 1200px) {
    .cuerpoNosotros {
      width: 80%; } }
  .cuerpoNosotros #quienesSomos {
    grid-area: quienesSomos; }
  .cuerpoNosotros #elegirnos {
    grid-area: elegirnos; }
  .cuerpoNosotros #motivacion {
    grid-area: motivacion; }
  .cuerpoNosotros .cuerpoNosotros__titulos {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding-bottom: 1%;
    border-bottom: 1px solid black;
    color: grey;
    margin-bottom: 2%;
    font-weight: 500; }
    @media all and (max-width: 992px) {
      .cuerpoNosotros .cuerpoNosotros__titulos {
        width: 70%; } }
  .cuerpoNosotros .descripcionesNosotros {
    font-family: "Raleway", sans-serif;
    font-size: 27px;
    padding-top: 2%;
    margin-bottom: 2%;
    font-weight: 400; }

/*ventas html*/
.secVentas {
  overflow: hidden; }
  .secVentas .titulos_venta {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    color: #4F4F4F;
    font-family: "Raleway", sans-serif;
    border-bottom: 1px solid #010101;
    width: 40%;
    margin: auto;
    text-align: center;
    padding-bottom: 1%; }
    @media all and (max-width: 992px) {
      .secVentas .titulos_venta {
        padding-top: 20%;
        width: 85%; } }
  .secVentas .card {
    height: 600px;
    margin: auto;
    margin-top: 3%;
    background-color: #E7E7E2;
    border: 1px solid #010101;
    box-shadow: -4px 1px 12px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: -4px 1px 12px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -4px 1px 12px 1px rgba(0, 0, 0, 0.6); }
    @media all and (max-width: 992px) {
      .secVentas .card {
        min-width: 80%;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        min-height: 100%; } }
    .secVentas .card img {
      width: 75%;
      margin: auto;
      padding-top: 4%; }
    .secVentas .card .card-body {
      width: 80%;
      margin: auto; }
    .secVentas .card .btn-container {
      display: flex;
      width: 100%;
      justify-content: center; }
    .secVentas .card .btn-cards {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      background-color: #4F4F4F;
      padding: .375rem .75rem;
      border-radius: .25rem;
      color: #E7E7E2;
      border: none;
      font-family: "Raleway", sans-serif;
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      transition: all 300ms ease-out; }
      .secVentas .card .btn-cards:hover {
        background-color: #E7E7E2;
        color: #4F4F4F;
        border: 1px solid #4F4F4F; }
    .secVentas .card textarea {
      display: flex;
      width: 97%;
      margin: auto; }
  .secVentas .modal-footer {
    justify-content: center !important; }
    .secVentas .modal-footer .btn-secondary {
      background-color: #4F4F4F;
      font-family: "Raleway", sans-serif;
      font-size: 18px;
      color: #E7E7E2;
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      transition: all 300ms ease-out; }
      .secVentas .modal-footer .btn-secondary:hover {
        background-color: #E7E7E2;
        color: #4F4F4F; }
