@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
.bgColor {
  background-color: #E7E7E2; }

header {
  width: 100%;
  z-index: 1;
  display: flex;
  border-bottom: 3px solid black;
  background-color: #E7E7E2; }
  header #portalInmobiliario {
    display: flex;
    padding-left: 1%;
    width: 70%; }
    header #portalInmobiliario .navbar-brand {
      font-size: 30px;
      color: #4F4F4F;
      font-family: "Raleway", sans-serif; }
    header #portalInmobiliario .logo {
      width: 65px;
      height: 60px; }
  header a {
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 500; }
  header .nosotrosGeneral {
    display: flex;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30%; }
    @media all and (max-width: 992px) {
      header .nosotrosGeneral .navbar {
        display: flex;
        justify-content: flex-end; } }
    header .nosotrosGeneral .navbar-nav .nav-link {
      margin-right: 10%;
      color: #4F4F4F;
      transition: all 500ms ease-in-out; }
      header .nosotrosGeneral .navbar-nav .nav-link:hover {
        transform: scale(1.3);
        color: black; }

.bloqueBuscador {
  padding-top: 10%; }

.cuerpoPrincipal {
  background-image: url("../media/imagenFondo.JPG");
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 90%;
  margin: auto;
  padding-top: 6%; }
  .cuerpoPrincipal .cuerpoPrincipal__buscador {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    margin-left: 20%;
    line-height: 1;
    padding-top: 0.5%;
    font-weight: 500; }
    @media all and (max-width: 992px) {
      .cuerpoPrincipal .cuerpoPrincipal__buscador {
        margin-left: 10%; } }
    @media all and (max-width: 576px) {
      .cuerpoPrincipal .cuerpoPrincipal__buscador {
        margin: 0;
        padding-left: 4%;
        padding-top: 3%; } }
  .cuerpoPrincipal .buttonSearch {
    font-size: 20px;
    background-color: #D1D4D6;
    margin-left: 20%;
    margin-top: 1%;
    border-radius: 50px;
    background-color: #D1D1C9; }
    @media all and (max-width: 992px) {
      .cuerpoPrincipal .buttonSearch {
        margin-left: 10%; } }
    @media all and (max-width: 576px) {
      .cuerpoPrincipal .buttonSearch {
        margin-left: 2%; } }
  .cuerpoPrincipal .buttonSearch:hover {
    transform: scale(1.1); }

.destacados .destacados__titulos {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  color: #4F4F4F;
  font-family: "Raleway", sans-serif;
  border-top: 1px solid black;
  width: 40%;
  margin: auto;
  text-align: center;
  padding-bottom: 1%;
  /* VER, ESTA DE MAS?*/ }
  @media all and (max-width: 992px) {
    .destacados .destacados__titulos {
      border-top: 1px solid black;
      width: 80%;
      margin: auto;
      padding-top: 2%;
      text-align: center;
      padding-bottom: 1%; } }
  @media all and (max-width: 576px) {
    .destacados .destacados__titulos {
      border-top: 1px solid black;
      width: 80%;
      margin: auto;
      padding-top: 2%;
      text-align: center;
      padding-bottom: 1%; } }

.destacados #primerDestacado {
  margin-top: 4%; }

.destacados .destacados__img {
  margin: auto;
  display: block;
  width: 25%;
  padding: 0.5%;
  border: 1px solid black;
  transition: all 500ms ease-in-out;
  margin-bottom: 1.5%; }
  .destacados .destacados__img:hover {
    transform: scale(1.1); }
  @media all and (max-width: 992px) {
    .destacados .destacados__img {
      width: 70%;
      padding-top: 0.5%;
      margin-top: 1%;
      margin-bottom: 5%; } }
  @media all and (max-width: 576px) {
    .destacados .destacados__img {
      width: 70%;
      padding-top: 0.5%;
      margin-bottom: 5%; } }

.destacados .destacados__texto {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 18px;
  text-align: center;
  width: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: auto; }
  @media all and (max-width: 992px) {
    .destacados .destacados__texto {
      width: 80%;
      padding: 2% 0%; } }
  @media all and (max-width: 576px) {
    .destacados .destacados__texto {
      width: 80%; } }

.destacados #imagen2 {
  margin-top: 1%; }

.contactForm {
  width: 60%;
  margin: auto;
  padding: 1%;
  border: 1px solid black;
  box-shadow: -4px 4px 6px 0px rgba(0, 0, 0, 0.75);
  background-image: url(../media/fondo.JPEG); }
  @media all and (max-width: 992px) {
    .contactForm {
      width: 80%; } }
  @media all and (max-width: 576px) {
    .contactForm {
      width: 80%; } }
  .contactForm .contactForm__datos {
    font-family: "Raleway", sans-serif;
    font-size: 18px; }
  .contactForm textarea {
    width: 100%; }
  .contactForm .buttons .form__button {
    height: 40px;
    width: 90px;
    background-color: #D1D1C9;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    margin-top: .75rem;
    margin-right: 1rem;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out; }
  .contactForm .buttons #Enviar:hover {
    transform: scale(1.1); }
  .contactForm .buttons #Borrar:hover {
    transform: scale(1.1); }

.logoWhatsApp {
  position: fixed;
  right: 5%;
  bottom: 7%; }
  @media all and (max-width: 992px) {
    .logoWhatsApp {
      position: fixed;
      right: 3%; } }
  @media all and (max-width: 576px) {
    .logoWhatsApp {
      position: fixed;
      right: 1.5%; } }
  .logoWhatsApp img {
    width: 50px;
    height: 50px;
    transition: 500ms ease-in-out; }
  .logoWhatsApp img:hover {
    transform: scale(1.1); }

footer {
  border-top: 1px solid black;
  text-align: center;
  width: 100%;
  height: 1%;
  margin-top: 1%;
  margin-bottom: 0;
  padding-top: 0.5%; }
  footer p {
    color: grey;
    font-family: "Raleway", sans-serif;
    font-weight: 500; }

/* HASTA ACA EN INDEX.HTML*/
.slide {
  padding-top: 10%;
  margin-bottom: 5%; }
  @media all and (max-width: 992px) {
    .slide {
      padding-top: 15%; } }
  .slide .slideContent {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 40%;
    margin: auto;
    padding-bottom: .5%;
    font-family: "Raleway", sans-serif; }
  .slide #carousel-control-prev {
    left: 0;
    height: 250px;
    margin-top: 350px; }
    @media all and (max-width: 992px) {
      .slide #carousel-control-prev {
        margin-top: 150px; } }
  .slide #carousel-control-next {
    right: 0;
    height: 250px;
    margin-top: 350px; }
    @media all and (max-width: 992px) {
      .slide #carousel-control-next {
        margin-top: 150px; } }

.cuerpoNosotros {
  display: grid;
  grid-template-areas: "quienesSomos quienesSomos quienesSomos" "elegirnos elegirnos elegirnos" "motivacion motivacion motivacion";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 2%; }
  @media all and (max-width: 1200px) {
    .cuerpoNosotros {
      width: 80%; } }
  .cuerpoNosotros #quienesSomos {
    grid-area: quienesSomos; }
  .cuerpoNosotros #elegirnos {
    grid-area: elegirnos; }
  .cuerpoNosotros #motivacion {
    grid-area: motivacion; }
  .cuerpoNosotros .cuerpoNosotros__titulos {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding-bottom: 1%;
    border-bottom: 1px solid black;
    color: grey;
    margin-bottom: 2%;
    font-weight: 500; }
    @media all and (max-width: 992px) {
      .cuerpoNosotros .cuerpoNosotros__titulos {
        width: 70%; } }
  .cuerpoNosotros .descripcionesNosotros {
    font-family: "Raleway", sans-serif;
    font-size: 27px;
    padding-top: 2%;
    margin-bottom: 2%;
    font-weight: 400; }
