

.bgColor {
	background-color: $cFondo;
}
header {
	width: 100%;
	z-index: 1;
	display: flex;
	border-bottom: 3px solid black;
	background-color: $cFondo;


	#portalInmobiliario  {
	display: flex;
	padding-left: 1%;
	width: 40%;
		@media all and (max-width: 786px){
			align-items:flex-start;
		}



		.navbar-brand {
		font-size: 30px;
		color: $cPrimario;
		font-family: $fuente;

			@media all and (max-width: 786px){
				font-size: $fuente-l;
			}
		}

			.logo {
				width: 65px;
				height: 60px;
			}


	}



	a {
	text-decoration: none;
	color: black;
	font-family: $fuente;
	font-weight:$fuente-bold;
	}

	.active{
		border-bottom: 1px solid #010101;
		border-radius: 0px 0px 5px 5px;
	}

	.nosotrosGeneral {
		display: flex;
		margin-right: 5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		width: 40% ;

			.navbar{ 
				@media all and (max-width: 992px){
						display: flex;
						justify-content: flex-end;
						align-items: flex-start;
					
				}

			}
			.navbar-nav {
				.nav-link{
					margin-right: 7.5%;
					color: $cPrimario;
					transition: all 300ms ease-in-out;
					&:hover{
					transform: scale(1.2);
					color: #010101;
					}
				}
			}

			#dropdownMenuLink{
				font-weight: $fuente-bold;
				padding-right: 2.5rem;
				display: flex;
				justify-content: flex-start;
				width: 70%;

			}

			.dropdown-item:focus{
				background-color:transparent;
				color: #010101;
			}
				.btn:focus{
					box-shadow:none !important;
				}
			
	}

}



.fondo-portada{
	background-image: url("../media/imagenFondo.jpg");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;

}
.frase-portada{
	font-size: 30px;
	font-family: $fuentePort;
	display: flex;
	justify-content: center;
	padding-top: 25%;
	background-color: rgba( 255,255,255, .3);
	height: 100vh;

			@media all and (max-width: 992px){
				padding-top:35%;
			}
			@media all and (max-width: 576px){
				padding-top: 45%;
			}

}

.destacados{
	
	
	.destacados__titulos {
		font-size: 30px;
		display: flex;
		justify-content: center;
		padding-top: 2%;	
		color: $cPrimario;
		font-family: $fuente;
		border-top: 1px solid black;
		width: 50%;
		margin: auto;
		text-align: center;
		padding-bottom: 1%;


			@media all and (max-width: 992px){
				border-top: 1px solid black;
				width: 80%;
				margin: auto;
				padding-top: 2%;
				text-align: center;
				padding-bottom: 1%;
			}

			@media all and (max-width: 576px){
				border-top: 1px solid black;
				width: 80%;
				margin: auto;
				padding-top: 2%;
				text-align: center;
				padding-bottom: 1%;

			}

	}

		#primerDestacado {
			margin-top: 4%;
		}

	.destacados__img {
		margin: auto;
		display:block;	
		width: 35%;
		padding: 0.5%;
		border: 1px solid black;
		transition: all 500ms ease-in-out;
		margin-bottom: 1.5%;
			
			&:hover {
				transform: scale(1.1);
			}


			@media all and (max-width: 992px){
				width: 70%;
				padding-top: 0.5%;
				margin-top: 1%;
				margin-bottom: 5%;
			}

			@media all and (max-width: 576px){
				width: 70%;
				padding-top: 0.5%;
				margin-bottom: 5%;
			}

			
		}
	



	.destacados__texto{
		font-family:$fuente;
		color: black;
		font-size: $fuente-m;
		text-align: center;
		width: 25%;
		padding-top: 1%;
		padding-bottom: 1%;
		margin: auto;

			@media all and (max-width: 992px){
				width: 80%;
				padding:2% 0%;
			}

			@media all and (max-width: 576px){
				width: 80%;
			}
	}

	#imagen2 {
		margin-top: 1%;
	}

}

.contactForm {
	width: 60%;
	margin: auto;
	padding: 1%;
	border: 1px solid black;
	box-shadow: -4px 4px 6px 0px rgba(0,0,0,0.75);
	background-image:url(../media/fondo.JPEG);



		@media all and (max-width: 992px){
			width: 80%;
		}

		@media all and (max-width: 576px){
			width: 100%;
			margin-bottom: 4%;
		}

		.contactForm__datos {
			font-family: $fuente;
			font-size: $fuente-m;

		}

		textarea {
			width: 100%;
			resize: none;
			outline: none;

			&:focus{
				box-shadow:none;
				border:1px solid $cPrimario;
			}

		}
		
		.form-control:focus{

		box-shadow:none;
		border:1px solid $cPrimario;
		}

		.buttons{
			display: flex;
			justify-content: center;
			.form__button {
				width: 12%;
				font-weight: $fuente-regular;
				text-align: center;
				background-color: $cPrimario;
				padding: .375rem .75rem;
				margin-left: 2%;
				margin-top: 1%;				
				color: $cFondo;
				border: none;
				font-family: $fuente;
				-webkit-transition: all 300ms ease-out;
				-moz-transition: all 300ms ease-out;
				-ms-transition: all 300ms ease-out;
				-o-transition: all 300ms ease-out;
				transition: all 300ms ease-out;

				@media all and (max-width: 768px){
					width: 15%;
				}
				@media all and (max-width: 576px) {
					width: 25%;
				}
			}

			#Enviar:hover {
				transform: scale(1.1);
				background-color:#189d0e;
			}

			#Borrar:hover {
				transform: scale(1.1);
				background-color:#DB3232;
			}
		}
	}

.logoWhatsApp {
	position: fixed;
	right: 5%;
	bottom: 7%;

	@media all and (max-width: 992px){
		position: fixed;
		right: 3%;

	}

	@media all and (max-width: 576px) {
		position: fixed;
		right: 1.5%;

	}

	img {
		width: 50px;
		height: 50px;
		transition: 500ms ease-in-out;
	}

	img:hover {
		transform: scale(1.1);
	}
}

.footer {
	border-top: 1px solid black;
	text-align: center;
	width: 100%;
	height: 1%;
	margin-top: 1%;
	margin-bottom: 0;
	padding-top: 0.5%;
	overflow: hidden;


		
		.container-footer{
			display: flex;
			width: 100%;
			align-items:center;
			justify-content: space-evenly;
			flex-wrap: wrap;
			padding-bottom:1%;
			border-bottom: 1px solid #010101;

		}

		.mapaUbicacion {
			width: 50%;
			justify-content: flex-start;
			margin-top: 2%;

			@media all and (max-width: 576px){
				width: 100%
			}

		}
		.datosEmpresa {
			width: 50%;
			border-left: 1px solid #010101;

			@media all and (max-width: 992px){
				width: 100%;
				padding-top:1%;
				border-left:none;
			}


			.datosFooter {
				display: flex;
				justify-content:flex-start;
				width: 100%;
				margin-top: 4%;
				padding-left:5%;

				@media all and (max-width: 576px){
					width: 80%;
					text-align: left;
				}

				a{
					text-decoration: none;
					color: #010101;


					&:hover{
						color: #010101;
					}

					.logoInstagram {
						margin-left: 10%;
					}
				}

					.datosFooter_contenidos{
						padding-left:2%;
						font-family: $fuente;
						font-weight: $fuente-regular;
						font-size: $fuente-m;
					}
				
					.img_footer{
						width: 40px;

						@media all and (max-width: 768px){
							height: 40px;
						}
						
					}

			}
		}

		.slogan__footer{
			color: $cFondo;
			font-family: $fuente;
			font-weight: $fuente-bold;
			background-color: $cPrimario;
			margin-bottom: 0px !important; 
		}
}
/* HASTA ACA EN INDEX.HTML*/

.slide {
	padding-top: 10%;
	margin-bottom: 5%;
		@media all and (max-width: 992px){		
				padding-top:15%;
		}

		@media all and (max-width: 615px){
			padding-top:25%;
		}

	.slideContent{
		background-color: rgba( 255,255,255, .5);  
		border-radius: 10px;
		width: 40%;
		margin: auto;
		padding-bottom:.5%;
		font-family:$fuente;	
	}

			#carousel-control-prev {
				left: 0;
			    height: 250px;
			    margin-top: 350px;
			
				@media all and (max-width: 992px){
					margin-top:150px;
				}
				 @media all and (max-width: 450px){
				 	margin-top: 85px;
				 }
			}
			
			#carousel-control-next {
			    right: 0;
			    height: 250px;
			    margin-top: 350px;

			    @media all and (max-width: 992px){
					margin-top:150px;
				}
				 @media all and (max-width: 450px){
				 	margin-top: 85px;
				 }
			}
}

.cuerpoNosotros {
	display: grid;
	grid-template-areas: 
	"quienesSomos quienesSomos quienesSomos"
	"elegirnos elegirnos elegirnos"
	"motivacion motivacion motivacion";
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 15px;
	width: 80%;
	margin: auto;
	text-align: center;
	margin-top: 2%;
	

		@media all and (max-width: 1200px){
			width: 80%;
		}

		#quienesSomos {
			grid-area: quienesSomos;
		}

		#elegirnos {
			grid-area: elegirnos;
		}

		#motivacion {
			grid-area: motivacion;
		}

		.cuerpoNosotros__titulos {
			font-family:  $fuente;
			font-size: 30px;
			width: 30%;
			margin: auto;
			text-align: center;
			padding-bottom: 1%;
			border-bottom: 1px solid black;
			color: grey;
			margin-bottom: 2%;
			font-weight: $fuente-bold;

			@media all and (max-width: 992px){
				width: 100%;
			}
		}

		.descripcionesNosotros {
			font-family:  $fuente;
			font-size: 27px;
			padding-top: 2%;
			margin-bottom: 2%;
			font-weight: $fuente-regular;
		}
	}
/* boton gral*/
	.btn-gral{
		display: inline-block;
		font-weight: $fuente-regular;
		text-align: center;
		margin: auto;
		background-color: $cPrimario;
		padding: .375rem .75rem;
		border-radius: .25rem;
		color: $cFondo;
		border: none;
		font-family: $fuente;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		transition: all 300ms ease-out;
		margin-bottom:2%;

			&:hover{
				background-color:$cFondo;
				color: $cPrimario !important;
				border:1px solid $cPrimario;

			}	

			&:focus{
				box-shadow:none;
			}				
	}
	.btn-container{
				display: flex;
				width: 100%;
				justify-content: center;
			}
/*ventas-alq html*/
	
.secVentas{
			overflow: hidden;

	.titulos_venta{
			font-size: 30px;
			display: flex;
			justify-content: center;
			padding-top: 10%;	
			color: $cPrimario;
			font-family: $fuente;
			border-bottom: 1px solid #010101;
			width: 40%;
			margin: auto;
			text-align: center;
			padding-bottom: 1%;

			@media all and (max-width: 992px){
				padding-top: 20%;
				width: 85%;
				margin-bottom: 5%;
			}
			@media all and (max-width: 768px){
				padding-top: 25%;
			}
	}


	.card{
		height: 600px;
		margin: auto;
		margin-top: 3%;
		background-color: $cFondo;
		border:1px solid #010101;
		box-shadow: -4px 1px 12px 1px rgba(0,0,0,0.6);
		-webkit-box-shadow: -4px 1px 12px 1px rgba(0,0,0,0.6);
		-moz-box-shadow: -4px 1px 12px 1px rgba(0,0,0,0.6);


			@media all and (max-width: 1200px){
				margin-top: 2%;
				height: 450px;
				}
			@media all and (max-width: 992px) {
				min-width: 80%;
				margin: auto;
				margin-bottom: 2%;
				flex-direction: row;
				max-height: 400px;

			}

			@media all and (max-width: 576px){
				flex-direction: column;
			}

			img{
				width: 75%;
				margin:auto;
				padding-top:4%;

				@media all and (max-width: 992px){
					width: 55%;
				}
			}

			.card-title{
				font-family: $fuente;
				font-weight: $fuente-bold;
				font-size: $fuente-m;
			}
			.card-body{
				width: 80%;
				margin: auto;
				
			
				textarea{
					display: flex;
					width:97%;
					margin:auto; 
				}
			}
		}
	
	.modal-title{
		font-family: $fuente;
		font-size: $fuente-l;
		font-weight: $fuente-bold;
		margin: auto;

	}

}
	.modal-footer{
		justify-content: center !important;
			.btn-secondary{
				background-color:$cPrimario;
				font-family: $fuente;
				font-size: $fuente-m;
				color: $cFondo;
				-webkit-transition: all 300ms ease-out;
				-moz-transition: all 300ms ease-out;
				-ms-transition: all 300ms ease-out;
				-o-transition: all 300ms ease-out;
				transition: all 300ms ease-out;

				&:hover{
					background-color:$cFondo;
					color: $cPrimario;

				}
			}
	}
	.modal-content {
		min-height: 30rem;

		.msj-respuesta {
			display: flex;
			font-family: $fuente;
			font-size: $fuente-xl;
			font-weight: $fuente-regular;
			text-align:center;
			padding-top:20%;
			flex:0 1 auto ;
			background-image: url(../media/fondoConsulta.png);
			background-position:center;
			height: 25rem;
		}
	}

.emprendimientos_container{
overflow: hidden;

	.emprendimiento_titulo {
		font-family:  $fuente;
		font-size: 30px;
		width: 30%;
		margin: auto;
		text-align: center;
		padding-bottom: 1%;
		border-bottom: 1px solid black;
		color: grey;
		margin-bottom: 2%;
		font-weight: $fuente-bold;
		padding-top:10%;

			@media all and (max-width: 992px){
				width: 85%;
				padding-top:25%;
			}
	}
	.carrousel_emprendimientos {
		border: 1px solid #010101;
		padding:2%;
		margin: auto;
		margin-top: 3%;
		box-shadow: -4px 1px 12px 1px rgba(0,0,0,0.6);
		-webkit-box-shadow: -4px 1px 12px 1px rgba(0,0,0,0.6);
		-moz-box-shadow: -4px 1px 12px 1px rgba(0,0,0,0.6);

			@media all and (max-width: 992px) {
					min-width: 80%;
					margin: auto;
					margin-bottom: 2%;
					flex-direction: row;
					min-height: 400px;

				}


		.imgCarrousel_emp{
		
		}
	}
}

