$fuentePort: 'Caveat', cursive;
$fuente: 'Raleway', sans-serif;
$fuente-light: 300;
$fuente-regular:400;
$fuente-bold:500;
$fuente-s:16px;
$fuente-m:18px;
$fuente-l:20px;
$fuente-xl:25px;
$cPrimario:#4F4F4F ;
$cFondo:#FFF0E0 ;
$bcButtons:#D1D1C9 ;


